{% extends 'base.html' %}
{% load static %}	
	{% block body_block %}
<center>
	{% if user.is_authenticated %}
	<h1>Welcome to Tutorial App {{ user.username }}</h1>
	{% else %}
	<h1>Tutorials</h1>
	{% endif %}
	<img src="{% static 'images/photo.jpeg' %}">



<div class="container">
<div class="row">
<div class="col-sm-6">
<h2>Categories</h2>
<ul class="list-group">
{% if categories %}
{% for category in categories %}
<li class="list-group-item"><a href="{% url 'category' category.slug %}"><p>{{ category.name }}</p></a></li>
		{% endfor %}
	{% else %}
			<p>There are no categories!</p>
	{% endif %}
</ul>
</div>


<div class="col-sm-6">
<h2>Learn More</h2>
<ul class="list-group">
	{% if pages %}
		{% for page in pages %}
		<li class="list-group-item"><a href="{{ page.url }}"><p>{{ page.title }}</p></a></li>
		{% endfor %}
	{% else %}
		<p>There are no pages</p>
	{% endif %}	
	</ul>
	</div>

	</div>
	</div>
	</center>
{% endblock %}
